/backend/.env
/backend/.env.backup
/backend/vendor/
/backend/node_modules/
/backend/public/storage
/backend/storage/*.key
/backend/storage/debugbar/
/backend/storage/logs/*.log
/backend/storage/oauth-private.key
/backend/storage/oauth-public.key
/backend/bootstrap/cache/*.php


/frontend/.env
/frontend/.env.*.local
/frontend/node_modules/
/frontend/dist/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/ 